.container {
    padding: 20px;
}

.container-full {
    width: 100%;
    padding: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.block {
    display: inline-block;
}

.margin-auto {
    margin: 0 auto;
}