//FONT FAMILY//
$poppins:'Poppins',
sans-serif;
$cabin:'Cabin',
sans-serif;
//FONT WEIGHT//
$very-bold:700;
$bold:600;
$regular-weight:500;
$light-weight:400;
$very-light:300;
//LINE HEIGHT//
$line-height-main:15px;
$line-height-secondary:24px;
$line-height-third:28px;
// FONT SIZE 
$font-xs: 10px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;
$font-h: 42px;
//LETTER SPACING
$main-letter-spacing: 0.35px;