//----- COLORS ----
$white:white;
$black:black;
//BACKGROUND COLORS
$button-color:#e9490a;
$choose-color: rgb(2, 75, 108);
$rare-color:rgb(22, 160, 184);
//TEXT COLORS
$main-color:#024b6c;
$border-color:#d8e3e8;
$secondary-color:#638da0;
$icon-color:#305f75;
$input-color:#336f8a;
//BORDER STYLE
$borderwidth-sm: 1px;
//-----SPACING----
//PADDINGS
$padding-sm: 2px;
$padding-md: 3px;
$padding-lg: 5px;
$padding-xl: 20px;
//MARGINS
$margin-sm: 2px;
$margin-md: 3px;
$margin-lg: 5px;
$margin-xl: 50px;
//HEIGHT
$small-height: 40px;
$normal-height:170px;
$main-height: 400px;
//WEIGHT
$weight-sm: 640px;
$weight-md: 1100px;
$weight-xl: 1180px;
//BORDER RADIUS
$border-md:5px;